
    <div class="text-center">
    	<img src="images/dcb_text3.png" alt="" style="width:304px;height:228px;">
    </div>

    <div class="container text-center">
	    <p1 id="description">
	        Data Center Hub provides a central view of all <br> &nbsp; GSA Data Centeres and variances over time.
	    </p1>
     </div>
     <br>
     <br>

	<div class="container text-center">
		<div class="row">
			<button id="add" class="btn btn-primary enaddter">Add Data</button>
			<button id="analyze" class="btn btn-primary analyze">Analyze Data</button>
			<button id="generate"class="btn btn-primary generate">Generate Data</button>
		</div>
	</div>
	<br>
	<br>

	<div class="container text-center">
		<p>Developers, learn more at our <a href="https://github.com/team-lisbon/data-center-consolidation">Github repo.</a> </p>

	</div>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="/js/homepage.js"></script>